@import '../../stylesheets/variables';

.main__container {
  display: flex;
  justify-content: center;
  min-height: 85vh;
  align-items: center;
  @media all and (min-width: 768px) {
    background-image: linear-gradient(
      to right top,
      #bd76b0,
      #d18bae,
      #df9aab,
      #f1bfc0,
      #ecc5be
    );
    color: $colorLight
  }
  
}
