// Colors
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorGrey: #2d2d2d;

//Color Palette
$colorLight: #ffe4df;
$colorRed: #ff6161;
$colorPink: #dd5587;
$colorPurple: #a75999;
$colorDarkPurple: #6d5b94;
$colorDarkBlue: #3f557b;
$colorDarkerBlue: #2f4858;

//Fonts
$fontPrimary: Helvetica, sans-serif;
$fontSecondary: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
