// Colors
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorGrey: #2d2d2d;

//Color Palette
$colorLight: #FFE4DF;
$colorRed: #FF6161;
$colorPink: #DD5587;
$colorPurple: #A75999;
$colorDarkPurple: #6D5B94;
$colorDarkBlue: #3F557B;
$colorDarkerBlue: #2F4858;



//Fonts
$fontPrimary: Helvetica, sans-serif;
$fontSecondary: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;



